<!--<section>-->
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" ng-class="{ active:tab.isSet(1) }">
        <a href ng-click="tab.setTab(1)">Description</a>
      </li>
      <li role="presentation"  ng-class="{ active:tab.isSet(2) }">
        <a href ng-click="tab.setTab(2)">Specs</a>
      </li>
      <li role="presentation"  ng-class="{ active:tab.isSet(3) }">
        <a href ng-click="tab.setTab(3)">Reviews</a>
      </li>
    </ul>
  </nav>







<!--</section>-->
